/* Start body */
body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
/* Start header */
.header{
	position: fixed;
	width: 100%;
	display: block;
	align-items: center;
	top: 0;
	z-index: 9999;
}

.header .navbar{
	background-color: #252F31;
	color: #fff;
	overflow:hidden;
	text-transform: uppercase;
	box-sizing: border-box;
	height: 72px;
	width: 100%;
}
.header .navbar  img{
	float: left;
	margin: -10px;
	padding: -10px;
}
.header .navbar h2{
	float: left;margin: 0;
    height: 18px;
    padding: 20px 0;
    font-family: sans-serif;
 }

.header .navbar h2 span{
	color:lightgreen;
	font-family: sans-serif;
}

.header .navbar ul{
	list-style: none;
	justify-items: center;
	overflow:hidden;
	float:center;
	margin: 0;
}

.header .navbar ul li {
	float:left;
	align-items: center;
	justify-items: center;
}

.header .navbar ul li a{
	color: #fff;
	text-decoration:center;
	display:block;
	padding:26px 10px;
	font-family: sans-serif;
	justify-items: center;

	 
}

.header .navbar ul li a:hover{
	color:orange;
	background: #30b576;
	border-bottom: 2px solid red;
}

#logo{
	margin-left: 8px;
	width: 50px;
	height: 50px;
}

/* End header */

/* Start home */
.slider{
	background-image: url("pics/home.gif");
	background-size: cover;
	height: 600px;
}

.slider .intro {
	padding-top:200px;
	text-align: center;
	color: #fff
}

.slider .intro h2 {
    margin: 0 auto;
    font-size: 43px;
    width: 600px;    
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    letter-spacing: 1px;
    padding: 19px;
}

 .slider .intro button{
	background: none;
	margin-top: 30px;
	font-size: 20px;
	border: 2px solid #fff;
	color: #fff;
	font-weight:bold;
	padding: 10px 30px;
}

/* End home */

h2{
	text-align: center;
	color: white;
	font-family:"Merriweather", serif;
	font-size: 30px;
	margin-top: 80px;
}

#menu{
	padding: auto;
	background-color: #4D7F1D;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 500px;;
}

.pics{
	width: 200px;
	height: 200px;
}

.Left{
	font-size: 30px;
	margin-top:  -150px;
	margin-left: 300px;
	margin-right: auto;
	margin-bottom: auto;
	text-align: left;
	font-family: "Kodchasan";
	color: #322004;
}

#pic2{
	margin-right: 100px;
	margin-left: 1000px;
	margin-top: auto;
	margin-bottom: auto;
}

.Right{
	font-size: 30px;
	margin: -130px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: auto;
	text-align: left;
	font-family: "Kodchasan";
	color: #322004;
}

#pic4{
	margin-right: 100px;
	margin-left: 1000px;
	margin-top: auto;
	margin-bottom: auto;
}

a{
	color: #322004;
	text-decoration: none;
}

a:hover{
	color: #7cdf20;
}

#herbes{
	margin-top: 0px;
	background-color: white;
}

h3{
	margin-top: 10px;
	text-align: center;
	font-size: 50px;
	font-family: "Kodchasan", serif;
}

#herbes p{
	font-size: 25px;
	font-family: "Kodchasan", serif;
}

.greens{
	color: #4D7F1D;
}

.browns{
	color: #5D320F;
}

#herbe{
	width:100%;
	height: 900px;
}

#mauvHerbe{
	margin-top: 0%;
	background-color: #4D7F1D;
	background-attachment: fixed;
	padding: 30px;
	padding-bottom: 300px;
}

#mauvHerbe p{
	font-family: "Kodchasan",serif;
	font-size: 25px;*
}

#exs{
	background-color: #4D7F1D;
}

.images {
	margin-left: 10px;
	padding: 10px;
	display: grid;
	width: 22%;
	float: left;
	grid-template-columns: repeat(auto-fit, ,min(200px, 0));
	grid-template-rows:repeat(auto-fit, auto-fit) ;
}

.images img{
	height: 200px;
	width: 200px;
	border-radius: 100px;
}

.nom{
	color: black;
	margin-left: 70px;
	font-family: "Sofia",serif;
}

#bennet{
	color: black;
	margin-left: 50px;
}

#mono{
	padding: 30px;
}

#mono img{
	width: 500PX;
	height: auto;
}

#mono p{
	font-family: "Kodchasan",serif;
	font-size: 25px;
}

#etape img {
	margin-left: 400px;
}

#dico{
	padding: 30px;
	background-color: #4D7F1D;
}

#dico h3{
	text-align: center;
	margin-left: 50px;
}

#dico p{
	font-family: "Kodchasan",serif;
	font-size: 25px;
}

#dicoty img{
	margin-left: 400px;
}

#Adv{
	padding: 30px;
	background-color: #4D7F1D;
}

#Adv p{
	font-family: "Kodchasan",serif;
	font-size: 25px;
}



#advj{
	width: 300px;
	height: 100px;
}

/* Start Footer */
.footer{
	background-color: #191e22;
	color: #6a6e71;
	padding: 20px 0;
	text-align: center;
}

.footer ul{
	list-style: none;
	padding-left: 0;
	margin: 10px 0 0
}

.footer ul li {
	display: inline-block;
}

.footer ul li img{

	width: 23px

}
