body{
	padding: 0%;
	width: 100%;
	height: 100%;
}
.home{
	background-image:url("pics/home.jpg") ;
	width: 100%;
	height: 600px;
	background-size:cover;
}

#nav {
	margin-left: 800px;
	width: 100%;
}
	 
#nav a {
	float:left;
	display: block;
	color: whitesmoke;
	text-align: center;
	padding: 10px;
	padding-left: 50px;
	text-decoration: none;
	font-size: 15px;
}

header{
	height: 60px;
	width: 100%;
	padding: auto;
	display: flex;
}

#logo{
	margin-left: 8px;
	width: 50px;
	height: 50px;

}

small{
	position: absolute;
	color:#5D320F;
	font-size: small;
	font-family: monospace;
	margin-top: 40px;
	margin-left: 5px;
}

h1{
	text-align:center;
	color: #4D7F1D;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: initial;
	font-size :70px;
	margin-top: 65px;
	-webkit-text-stroke: 1px #582903;
	-webkit-text-fill-color:#4D7F1D ;    
}

h2{
	text-align: center;
	color: white;
	font-family:"Merriweather", serif;
	font-size: 30px;
	margin-top: 80px;
}

#menu{
	padding: auto;
	background-color: #4D7F1D;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 500px;;
}

.pics{
	width: 200px;
	height: 200px;
}

.Left{
	font-size: 30px;
	margin-top:  -150px;
	margin-left: 300px;
	margin-right: auto;
	margin-bottom: auto;
	text-align: left;
	font-family: "Kodchasan";
	color: #322004;
}

#pic2{
	margin-right: 100px;
	margin-left: 1000px;
	margin-top: auto;
	margin-bottom: auto;
}

.Right{
	font-size: 30px;
	margin: -130px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: auto;
	text-align: left;
	font-family: "Kodchasan";
	color: #322004;
}

#pic4{
	margin-right: 100px;
	margin-left: 1000px;
	margin-top: auto;
	margin-bottom: auto;
}

a{
	color: #322004;
	text-decoration: none;
}

a:hover{
	color: #7cdf20;
}

#herbes{
	margin-top: 0px;
	background-color: white;
}

h3{
	margin-top: 10px;
	text-align: center;
	font-size: 50px;
	font-family: "Kodchasan", serif;
}

#herbes p{
	font-size: 25px;
	font-family: "Kodchasan", serif;
}

.greens{
	color: #4D7F1D;
}

.browns{
	color: #5D320F;
}

#herbe{
	width:100%;
	height: 900px;
}

#mauvHerbe{
	margin-top: 0%;
	background-color: #4D7F1D;
	background-attachment: fixed;
	padding: 30px;
	padding-bottom: 300px;
}

#mauvHerbe p{
	font-family: "Kodchasan",serif;
	font-size: 25px;*
}

#exs{
	background-color: #4D7F1D;
}

.images {
	margin-left: 10px;
	padding: 10px;
	float: left;
	width: 22%;
}

.images img{
	height: 200px;
	width: 200px;
	border-radius: 100px;
}

.nom{
	color: black;
	margin-left: 70px;
	font-family: "Sofia",serif;
}

#bennet{
	color: black;
	margin-left: 50px;
}

#mono{
	padding: 30px;
}

#mono img{
	width: 500PX;
	height: auto;
}

#mono p{
	font-family: "Kodchasan",serif;
	font-size: 25px;
}

#etape img {
	margin-left: 400px;
}

#dico{
	padding: 30px;
	background-color: #4D7F1D;
}

#dico h3{
	text-align: center;
	margin-left: 50px;
}

#dico p{
	font-family: "Kodchasan",serif;
	font-size: 25px;
}

#dicoty img{
	margin-left: 400px;
}

#Adv{
	padding: 30px;
	background-color: #4D7F1D;
}

#Adv p{
	font-family: "Kodchasan",serif;
	font-size: 25px;
}

span{
	color: red;
}

#advj{
	width: 300px;
	height: 100px";
}

footer{
	padding: 30px;
	background-color: #7cdf20;
	width: 100%;
	height: 100px;
	text-align: center;
}

footer p{
	font-family:Arial, Helvetica, sans-serif;
}
